body{
    background-image: url(./img/—Pngtree—abstract\ background\ of\ dark\ blue_16037970.jpg);
    background-position: center;
    background-size: cover;
}
img{
    max-width: 100%;
}
.foto{
    margin-left: 2%;
    width: 1500px !important;
    height: 700px !important;
}
#carrusel{
    padding-top: 3rem;
}
#cards{
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    h2{
        padding-bottom: 2rem;
    }
}
#acordeones{
    padding-bottom: 7rem;
    padding-top: 3rem;
}
.casilla{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 400px;
    img{
        min-height: 300px !important;
    }
}
#centro{
    padding-top: 3rem;
    padding-bottom: 10rem;
    text-align: center;
    .row:nth-child(1){
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .row:nth-child(2){
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    iframe{
        border-radius: 10px;
    }
    .textito{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 4rem;
        }
        a{
            text-decoration: none;
            padding: 10px;
            background-color: aliceblue;
            color: black;
            border-radius: 10px;
        }
        a:hover{
            text-decoration: none;
            padding: 10px;
            background-color: black;
            color: aliceblue;
            border-radius: 10px;
        }
    }
}
.imga{
    width: 400px;
    height: 300px;
}
.imgT{
    border: 3px solid whitesmoke;
    border-radius: 10px;
}

@media(max-width: 1080px){
    .foto{
        width: 800px !important;
        height: 400px !important;
    }
    
}
